:root {
  --branding-color: cornflowerblue;
  --background-color: mintcream;
  --main-font: "Josefin Sans", sans-serif;
  --heading-font: "Ephesis", cursive;
  --mainpage-font: "Italianno", cursive;
}

.hero h1 {
  font-family: var(--mainpage-font);
}

.hero {
  background: var(--background-color);
  text-align: center;
  padding: 160px 50px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: azure;
  padding: 12px 20px;
}
